@using FreshSight.Controllers
@{
    ViewData["Title"] = "My blog";
    var ProfilePicLink = Model["PicLink"][0];
}
<div class="border-bottom">
    <div class="d-inline-flex">
        <img src="@ProfilePicLink" alt="Profile picture" style="border-radius: 75px; height: 150px; width: 150px;">
    </div>
    <div class="d-inline-flex">
        <h3>@User.Identity?.Name</h3> 
    </div>
    <div class="d-inline-flex">
    @if(Model.ContainsKey("Age"))
    {
     <h4>Age: @Model["Age"][0]</h4>
    }
    </div>
</div>
<br />
<div class = "row">
    <div class = "col-md-4 border">
        <h3>Tools</h3>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="btn btn-info" asp-area="" asp-controller="Post" asp-action="Index" role="button">New post</a></li>
        </ul>
    </div>
    <div class = "col-md-6 col-md-offset-2 border">
        <h3>Your posts</h3>
        @if(Model.ContainsKey("Posts")){
        foreach(var post in Model["Posts"]){
            String link = $"https://freshsightcloud.blob.core.windows.net/images/{post[0]}_thumb";    
            <div class = "row border">
                <div class="col-md-2">
                    <img src="@link" style="height: 150px; width: 300px;">
                </div>
                <div class="col-md-4 col-md-offset-2">
                    Category: @post[1] <h3>@post[2]<h3>
                </div>
            </div>
        }
        }
    </div>
</div>