@using FreshSight.Controllers
@using Azure.Storage.Blobs;
@using Azure.Storage.Blobs.Models;
@using Azure.Storage.Blobs.Specialized;
@{
    ViewData["Title"] = $"Post: {Model.Topic}";
    String containerName = "posts";
    String connectionString = "DefaultEndpointsProtocol=https;AccountName=freshsightcloud;AccountKey=nnVOWYu0nVMx1pprfPeoktl2PdAsTdmW/iL8Zt/CfqrP3xugfFM72Kpi47/l46qrfhBCIMDMliQ++AStPFLjHw==;EndpointSuffix=core.windows.net";
    BlobContainerClient cloud = new BlobContainerClient(connectionString, containerName);
    var textBlock = new BlockBlobClient(connectionString, containerName, $"{Model.ID}_text");
    var thumbBlock = new BlockBlobClient(connectionString, containerName, $"{Model.ID}_thumb");
    var text = textBlock.DownloadContent();
}
<div class="d-flex flex-column">
    <div class="p-2">
        <h2>@Model.Topic</h2>
    </div>
    <div class="p-2">
        <div class="d-flex flex-row border-bottom" id="postInfo">
            <div class="p-2">
                <h4><i>
                Category: @Model.Category
                </h4></i>
            </div>
            <div class="p-2">
                Author grade: @Model.AuthorGrade
            </div>
            <div class="p-2">
                Created at: @Model.CreationTime
            </div>
            <div class="p-2">
                <a class="nav-link text-dark" asp-area="" asp-for="userId" asp-route-userId="@Model.Author.Id" asp-controller="Blog" asp-action="Blogger">
                    by @Model.Author.UserName
                </a>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="d-flex flex-row">
            @if(await thumbBlock.ExistsAsync()){
                String link = $"https://freshsightcloud.blob.core.windows.net/posts/{Model.ID}_thumb";
                    <div class="p-2">
                        <img src="@link" style="border-radius: 30px;" id="thumbnail">
                    </div>
            }

            <div class="p-2 border" style="border-radius: 30px;" id="textArea">
                <p class="text-md-start">
                    @text.Value.Content
                </p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div id="PostPicturesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            @{
                var files = cloud.GetBlobs(prefix: Model.ID);
                var partLink = $"https://freshsightcloud.blob.core.windows.net/posts/";
                foreach(var file in files){
                    if(file.Name.Contains("text") || file.Name.Contains("thumb")){
                        continue;
                    }
                    else{
                        var link = partLink + file.Name;
                        var isActive = String.Empty;
                        if(file.Name.Contains("_0")){
                            isActive = "active";
                        }
                        <div class="carousel-item @isActive">
                            <img src="@link" id="picture_@file.Name">
                            <script>
                                var coeff = 0;
                                if(screen.height/screen.width > 0.5625){
                                    coeff = 0.9;
                                }
                                else{
                                    coeff = 0.6;
                                }
                                var width = coeff * screen.availWidth;
                                document.getElementById("picture_@file.Name").style.width = width + 'px';
                                document.getElementById("picture_@file.Name").style.height = ((width)*0.5625) + 'px';
                            </script>
                        </div>
                    }  
                }
            }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#PostPicturesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#PostPicturesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="p-2">
        <partial name="_gradesPartial">
    </div>

    <div class="p-2">
        <div id="CreateCommentSection">
            <form method="post" id="commentText" asp-controller="Post" asp-action="AddComment" enctype="text/html; charset=utf-8" asp-for="postId" asp-route-postId="@Model.ID">
                <label for="commentTextArea" class="form-label"><i>Leave your comment below:</i></label>
                <textarea class="form-control" id="commentTextArea" rows="3" name = "Comment"></textarea>
            </form>
        </div>
    </div>
    <div class="p-2">
        <div class="d-flex flex-row-reverse" id="commentButton">
            <div class="p-2">
                <button type="submit" form="commentText" class="btn btn-info">Leave a comment</button>
            </div>
        </div>
    </div>

    <partial name="_CommentsPartial" />
</div>

@section Scripts{
    <script>
        var coeff = 0;
        if(screen.height/screen.width > 0.5625){
            coeff = 0.9;
        }
        else{
            coeff = 0.6;
        }
        var width = coeff * screen.availWidth;

        document.getElementById("thumbnail").style.width = (0.25 * width) + 'px';
        document.getElementById("thumbnail").style.height = ((0.25 * width) * 0.5625) + 'px';

        document.getElementById("textArea").style.width = (0.75 * width) + 'px';
        document.getElementById("postInfo").style.width = width + 'px';

        document.getElementById("PostPicturesCarousel").style.width = width + 'px';
        document.getElementById("PostPicturesCarousel").style.height = (0.5625 * width) + 'px';

        document.getElementById("CreateCommentSection").style.width = width + 'px';
        document.getElementById("commentButton").style.width = width + 'px';
    </script>
}